.navbar,
.navbar ul {
  display: flex;
  width: 100%;
}

.navbar {
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #ffef08;
}

.navbar ul {
  list-style: none;
  justify-content: space-around;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.main {
  text-align: center;
}
